﻿@using Model;
@using System.Collections.Generic;
@using System.Linq;

@page "/Voiture"
@inject HttpClient Http
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<h1>Liste Vehicule</h1>

<p></p>

@if (voitures == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Modele</th>
                <th>Couleur</th>
                <th>Kilometrage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var voiture in voitures)
            {
                <tr>
                    <td>@voiture.Marque</td>
                    <td>@voiture.Modele</td>
                    <td>@voiture.Couleur</td>
                    <td>@voiture.Kilometrage</td>
                    <button class="btn"><i class="glyphicon glyphicon-pencil" @onclick="async () => await UpdateListAsync()">></i></button>
                    <button class="btn"><i class="fa fa-trash" @onclick="async () => await DeleteAsync(voiture)"></i></button>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public List<Model.Voiture> voitures;

    protected override async Task OnInitializedAsync()
    {
        await UpdateListAsync();
    }
     protected async Task UpdateListAsync()
    {
        List<Voiture> voitures = (await Http.GetFromJsonAsync<Voiture[]>("https://localhost:5001/Vehicule")).ToList();
    }

    protected async Task DeleteAsync(Model.Voiture voiture)
    {
        await Http.DeleteAsync($"https://localhost:5001/Vehicule/{voiture.Id}");
        //await UpdateListAsync();
        voitures = voitures.Where(d => d.Id == voiture.Id).ToList();
    }
}
