@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@using Model;
@inject IJSRuntime JSRuntime
@using System.Collections.Generic;
@using System.Linq;
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject HttpClient Http

@page "/AjouterVehicule"
@inject HttpClient Http


<h1>Ajouter Vehicule</h1>

<EditForm Model="@voiture" OnValidSubmit="AjouterVehicule">
  <div class="form-group">
    <label for="Marque">Marque</label>
    <input type="text" class="form-control" @bind="NewMarque" id="marque" aria-describedby="emailHelp" placeholder="Entrez la marque du vehicule">
  </div>
  <div class="form-group">
    <label for="Modele">Modele</label>
    <input type="text" class="form-control" @bind="NewModele" id="Modele" placeholder="Modele">
  </div>
  <div class="form-group">
    <label for="Portes">Couleur</label>
    <input type="text" class="form-control" @bind="NewCouleur" id="Couleur" placeholder="Couleur">
  </div>
  <div class="form-group">
    <label for="Kilometrage">Kilometrage</label>
    <input type="float" class="form-control" @bind="NewKilometrage" id="Kilometrage" placeholder="Kilometrage">
  </div>
  <button type="submit" class="btn btn-primary">Ajouter</button>
</EditForm>
@code {
  public List<Model.Voiture> voitures;
  private string NewMarque;
  private string NewModele;
  private string NewCouleur;
  private float NewKilometrage;
  private Voiture voiture = new();

    private async Task AjouterVehicule()
    {
        var AjouterVehicule = new Voiture (){ Marque = NewMarque, Modele = NewMarque, Couleur = NewCouleur, Kilometrage = NewKilometrage };;
        await Http.PostAsJsonAsync("https://localhost:5001/Voiture", AjouterVehicule);
    }
    
}

}
