@inherits LayoutComponentBase
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<div class="page">
    

    <div class="main">
        <div class="top-row px-4">
            <NavMenu />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
