﻿<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <ul class="nav ">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AjouterVehicule">
                <span class="oi oi-plus" aria-hidden="true"></span> Ajouter Vehicule
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Voiture">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Liste vehicule
            </NavLink>
        </li>
    </ul>


